{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block title %}Tecnica Balanças{% endblock %}

{% block main %}

    <div class="jumbotron text-center" style="background-color: darkgray">
        <img src="{% static 'img/TÉCNICA_HORIZONTAL-branco-1.png' %}" alt="tecnica" width=50% height=50%>
    </div>

    <br/>
    <br/>
    <div></div>

{#    <div id="dialog" title="Bem vindo" width="400">#}
{#        <div data-role="body">#}
{#            Sistema de Controle de Calibrações - Técnica Balanças!#}
{#        </div>#}
{#        <div data-role="footer">#}
{#            <button class="gj-button-md" onclick="dialog.close()">OK</button>#}
{#            <button class="gj-button-md" data-role="close">Cancel</button>#}
{#        </div>#}
{#    </div>#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col">
                <a href="{% url 'calib_home' %}">
                    <i class="fas fa-tools fa-5x" style="color: #f99003"></i>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'equip_home' %}">
                    <i class="fas fa-users fa-5x" style="color: #f99003"></i>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'tabelas_home' %}">
                    <i class="fas fa-table fa-5x" style="color: #f99003"></i>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'empresas_home' %}">
                    <i class="fas fa-building fa-5x" style="color: #f99003"></i>
                </a>
            </div>

        </div>
    </div>

{% endblock %}

{% block static %}
    <script type="text/javascript">
        var dialog;
        $(document).ready(function () {
            dialog = $("#dialog").dialog({
                resizable: true
            });
        });
    </script>
{% endblock %}

{% block footer %}
{% endblock %}