{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block title %}Cadastro de Clientes{% endblock %}

{% block main %}
    <h3 style="text-align: center">Cadastro de Clientes</h3>

    <br/>
    <div>
        <div class="col-sm">{% bootstrap_form_errors form_empresa %}</div>
        <div class="col-sm">{% bootstrap_form_errors form_endereco %}</div>
        <div class="col-sm">{% bootstrap_form_errors form_telefone %}</div>
    </div>
    <div class="container-fluid" style="width: 80%" >
        <form method="post">
            {% csrf_token %}

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#cadastro" role="tab" data-toggle="tab">Dados Básicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#telefone" role="tab" data-toggle="tab">Telefone</a>
                </li>
            </ul>

            <br/>

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade show active" id="cadastro">
                    <div class="col-sm">{% bootstrap_form form_empresa %}</div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="endereco">
                    <div class="row">
                        <div class="col-sm">{% bootstrap_form form_endereco %}</div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="telefone">
                    <div class="row">
                        <div class="col-sm-3">{% bootstrap_field form_telefone.tipo %}</div>
                        <div class="col-sm-1">{% bootstrap_field form_telefone.ddd %}</div>
                        <div class="col-sm-3">{% bootstrap_field form_telefone.num_tel %}</div>
                    </div>
                </div>

            </div>

            <br/>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'empresas_home' %}">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </a>
                </div>
            </div>

        </form>

    </div>

{% endblock %}


{% block footer %}
{% endblock %}