coverage==4.5.4
Django==2.2
django-bootstrap4==0.0.8
django-cors-headers==3.1.1
django-forms-bootstrap==3.1.0
djangorestframework==3.10.3
entrypoints==0.3
flake8==3.7.8
isort==4.3.21
mccabe==0.6.1
Pillow==6.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2018.9
sqlparse==0.3.0



