{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}


{% block title %}Página de Login{% endblock %}
<head>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
{% block main %}

<div class="row">
    <div class="col-4"></div>

    <div class="col-3">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-info">Login</button>
        </form>
    </div>

    <div class="col-4"></div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}