{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block title %}Tecnica Balanças{% endblock %}

{% block main %}
    <br/>
    <h2 class="text-center">Equipamentos</h2>
    <br/>

    <table class="table table-hover">
        <thead>
            <th>Empresa</th>
            <th style="width: 40%">Fabricante</th>
            <th>Modelo</th>
            <th style="text-align: right"></th>
            <th style="width: 10%; text-align: right">
                <a href="{% url 'cad_equip' %}">
                    <i class="fas fa-plus fa-2x" style="color: lightgray"></i>
                </a>
            </th>
        </thead>
        <tbody>
            {% for equip in equipamentos %}
                <tr>
                    <td>{{ equip.empresa }}</td>
                    <td>{{ equip.fabricante }}</td>
                    <td>{{ equip.modelo }}</td>
                    <td style="width: 10%; text-align: right">
                        <a href="{% url 'upd_equip' equip.id %}">
                            <i class="far fa-edit fa-2x" style="color: lightgray"></i>
                        </a>
                    </td>
                    <td style="width: 10%; text-align: right">
                        <a href="{% url 'del_equip' equip.id %}">
                            <i class="far fa-trash-alt fa-2x" style="color: lightgray"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>

{% endblock %}

{% block footer %}
{% endblock %}