{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block title %}{{ tipo }}{% endblock %}

{% block main %}
    <br/>
    <h3 class="text-center">{{ tipo }}</h3>
    <br/>

    <form method="post">
        {% csrf_token %}
         <div class="container-fluid">

            <div class="form-group">
                <div class="col-md-2 offset-5">
                    {% bootstrap_form form layout='inline' %}
                    {% bootstrap_form_errors form %}
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-4 offset-5">
                    <button type="submit" class="btn btn-primary">
                        Gravar
                    </button>
                    <a href="{% url 'calib_home' %}">
                        <button type="button" class="btn btn-danger">
                            Cancelar
                        </button>
                    </a>
                </div>
            </div>

         </div>
    </form>
    <br/>
    <table class="table table-hover">
        <thead>
            <th>Sigla</th>
            <th style="width: 40%">Descrição</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for un in unidades %}
                <tr>
                    <td>{{ un.sigla }}</td>
                    <td>{{ un.descricao }}</td>
                    <td style="width: 10%; text-align: right">
                        <a href="{% url 'upd_unidade' un.id %}">
                            <i class="far fa-edit fa-2x" style="color: lightgray"></i>
                        </a>
                    </td>
                    <td style="width: 10%; text-align: right">
                        <a href="{% url 'del_unidade' un.id %}">
                            <i class="far fa-trash-alt fa-2x" style="color: lightgray"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>

<script>
</script>

{% endblock %}


{% block footer %}
{% endblock %}